@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: 100vmax;
    height: 100vmin; */
    display: flex;
    justify-content: center;
    background: rgb(78, 52, 85);
    font-family: 'Open Sans', sans-serif;
}
input{
    /* display: inline-block; */
    width: 80%;
}
section{
    min-width: 20rem;
    min-height: 200px;
    margin-top: 30px;
    background-color: rgb(43, 43, 177);
    color: white;
    border-radius: 5px;
}
section *{
    position: relative;
    left: 30px;
    
}
section h2{
    letter-spacing: 1px;
}
section p{
    font-size: 18px;
}
